<%- partial('_partial/head') %>
<body>
    <div class="main-content" id="main-content">
        <div class="hide">
                <%- partial('_partial/hide') %>
        </div>
        <div class="show">
            <aside class="left-col">
                <%- partial('_partial/left') %>
            </aside>
            <main class="right-col">
                <%- body %>
                <%- partial('_partial/footer') %>
            </main>
        </div>
    </div>
</body>
</html>